{
  "presets": ["es2015"],
  "plugins": [
    "transform-class-properties",
    "add-module-exports",
    "transform-es2015-modules-umd",
    "transform-object-assign",
    "transform-remove-console",
    "remove-comments",
  ],
}
